.container-fluid{
  font-family: 'Open Sans', sans-serif;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.vtp-logo{
  margin-right: 1.5em;
}
.nav-link{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 15px;
  margin-right: 1em;
  }
a.nav-link{
  color: #383838 !important;
  font-weight: bold;
  border-bottom: 4px solid white;
}
a.nav-link:hover{
  border-bottom: 4px solid #30667c;
}
a.nav-link:focus{
  border-bottom: 4px solid #30667c;
}
.vtp-phone{
  background: url("../images/sp_ico.png") no-repeat left center;
  padding-left: 2em;
}
.vtp-phone p{

  margin-bottom: 0;
  margin-right: 1.5em;
}
.vtp-phone a{
  color: #30667c !important;
  font-weight: bold;
  text-decoration: none;
}
input.form-control{
  text-align: center;
}
.form-control{
  background: url("../images/placeholder_ico.png") no-repeat 5px center;
  background-color: #f2f2f2;
  border: none;
padding: 10px 10px;

}
/* img slide*/
.slide-btn-01, .slide-btn-02 {
  display: none;
}
.img-slide-dot{
  text-align: center;
  position: relative;
  bottom: 20px;
}
.slide-dot{
  width: 12px;
  height: 12px;
  background-color: #e1e1e1;
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
}



.udvtp{
  padding-top: 30px;
  background: url("../images/ud_bg_img01.jpg");
  padding-bottom: 30px;
}
.h2-custom{
  color: white;
  margin-bottom: 20px;
}
.p-custom{
  color: white;
  margin-bottom: 30px;
}


.vtp-ud-info-01{
  color: #f38819;
  font-size: 24px;
  margin-bottom: 0;

}
.vtp-ud-info-02{
  color: white;
  font-size: 14px;
}
.ud-menu-custom{

}
a.vtp-more{
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  width: 60%;
  background-color: #f38819;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #f38819;
}
a.vtp-more:hover{
  background-color: white;
  border: 1px solid #f38819;
  color: #f38819;
}


.vtp-download{
  padding-top: 20px;
  padding-bottom: 30px;
}
h2.h2-custom-02{
  padding-top: 30px;
  padding-bottom: 20px;
}
.vtp-line{
  background-color: #30667c;
  width: 10%;
  height: 5px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 50px;
}
p.vtp-download-phone-01{
  margin-bottom: 0;
  font-weight: bold;
}
p.vtp-download-phone-02{
  margin-bottom: 0;
}
.vtp-download-span{
  color: #30667c;
  font-weight:bold;
  font-size: 20px;
}
.vtp-download-img-custom{
  margin-top: 10px;
}

/*Nap tien vao tai khoan*/
.vtp-naptien{
  padding-top: 20px;
  padding-bottom: 30px;
}
.vtp-naptien-margin{
  margin-top: 20px;
}
.vtp-line-02{
  width: 30%;
  height: 5px;
  display: block;
  background-color: #30667c;
  border-radius: 20px;
  margin: auto;
}
a.vtp-nt-more{
  text-decoration: none;
  color: #30667c;
  border: 2px solid #30667c;
  border-radius: 5px;
  width: 85%;
  display: block;
  padding: 10px 4px;
  margin: auto;
  margin-top: 10px;
}
a.vtp-nt-more:hover{
  text-decoration: none;
  color: white;
  background-color: #30667c;
}

/*da dang tien ich */
.vtp-dadang{
  background: url("../images/bg_img03.jpg");
  padding-top: 30px;
  padding-bottom: 30px;
}
.vtp-dadang-h2{
  color: white;

}
.vtp-line-04{
  background-color: white;
  width: 15%;
  height: 5px;
  display: block;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vtp-dadang-desktop{
  margin-top: 10px;
}
.vtp-dadang-desktop-img{
  display: none;
}
.vtp-dadang-p{
  color: white;
}
.vtp-dadang-title{
  margin: 0;
  color: #30667c;
  font-weight: bold;
}
.vtp-dadang-content{
  margin: 0;
}
.vtp-dadang-info-01{
  background: url("../images/ddti_smartphone_ico.png") no-repeat 5px center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.vtp-dadang-info-02{
  background: url("../images/ddti_vnd_ico.png") no-repeat 5px center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.vtp-dadang-info-03{
  background: url("../images/ddti_dien_ico.png") no-repeat 15px center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.vtp-dadang-info-04{
  background: url("../images/ddti_lixi_ico.png") no-repeat 10px center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.vtp-dadang-info-05{
  background: url("../images/ddti_ve_ico.png") no-repeat 5px center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
}
.vtp-dadang-info-06{
  background: url("../images/ddti_qr_ico.png") no-repeat 10px center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
}
/* tin khuyen mai*/
.vtp-tkm{
  padding: 20px 0;
}
.vtp-km-img{
  width: 100%;
  height: auto;
}
.vtp-tkm-custom{
  margin-top: 20px;
}
.vtp-km-post-title{
  font-size: 14px;
  font-weight: bold;
  padding: 0 0;
  margin: 10px 0;

}
.vtp-km-post-date{
  font-size: 14px;
  color: #367189;
}
a.vtp-km-btn{
  width: 100%;
  display: block;
  background-color: #2a5364;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  border: 2px solid #2a5364;
  border-radius: 5px;
}
a.vtp-km-btn:hover{
  text-decoration: none;
  color: #2a5364;
  background-color: white;
}
a.vtp-km-more{
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
  background-color: white;
  border: 1px solid #2a5364;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #2a5364;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 10px;
}
a.vtp-km-more:hover{
  background-color: #2a5364;
  color: white;
  text-decoration: none;
}

/*Hoi dap*/
.vtp-hoidap{
  background-color: #dbeaf0;
  padding-top: 30px;
}
.vtp-hoidap-title{
  background: url("../images/dauhoi_ico.png") no-repeat left center;
}
.vtp-hoidap-custom{
  margin: 0;
  padding: 10px 10px;
}
.vtp-hoidap-content{
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  box-shadow: 1px 1px 10px grey;
  min-height: 196px;
}
.vtp-hoidap-p{
  padding-left: 50px;

  margin-bottom: 5px;
}
.vtp-hoi-dap-span{
  color: #30667c;
  font-weight: bold;
}
.vtp-line-03{
  background: #30667c;
  width: 20%;
  height: 5px;
  display: block;
  margin-left: 50px;
}
ul.vtp-hoidap-ul{
  list-style: none;
  padding-left: 10px;
  margin-top: 30px;
}
.vtp-hoidap-link{
  color: #30667c;
  text-decoration: none;

}
.vtp-hoidap-link:hover{
  font-weight: bold;
  text-decoration: none;
  color: #30667c;
}

/*Lien he*/
.vtp-lienhe{

}
.vtp-lienhe-bg{
  background: url("../images/bg_img04.jpg");
  padding-bottom: 40px;
  padding-top: 30px;
}
.h2-lienhe-custom{
  color: #38748c;
  font-weight: bold;
}
.p-lienhe-custom{
  margin-top: 10px;
}
.form-custom-01{
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-custom-02{
  margin-top: 30px;
  margin-bottom: 10px;
}
.form-text{
  margin: 0;
  margin-bottom: 5px;
  color: #909090;
}
.form-text-02{
  margin: 0;
  margin-bottom: 5px;

  font-weight: bold;
}
.form-input-01{
  padding-left: 10px;
  padding-bottom: 5px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-input-01:focus{
  outline: none;
  border-bottom: 2px solid #17adb0;
}
.form-input-02{
  width: 100%;
  min-height: 100px;
  padding-left: 10px;
  border: 2px solid #e8e8e8;

}
.form-input-02:focus{
  outline: none;
  border: 2px solid #17adb0;
}
.form-img-custom{
  width: 14px;
  height: 14px;
  margin-top: 15px;
  margin-left: 10px;
}
.form-input-03{
  border: none;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 10px;
}
.form-input-03:focus{
  outline: none;
  border-bottom: 2px solid #17adb0;
}
.form-submit{
  width: 100%;
  display: block;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #f38819;
  border-radius: 4px;
  border: none;
  color: white;
}

/*footer*/
.vtp-footer{
  margin-top: 20px;
  margin-bottom: 20px;
}
.vtp-footer-text-01{
  font-size: 12px;
  font-weight:bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.vtp-ft-phone{
  background: url("../images/ft_phone_ico.png") no-repeat left center;
  padding-bottom: 0;
  margin: 0;
  padding-left: 20px;
}
.vtp-footer-text-02{
  font-size: 12px;
  margin-bottom: 10px;
}
.vtp-footer-text-03{

}


/* max-width 991px*/
@media (max-width: 991px){
  h2{
    font-size: 24px;
  }
  .ud-menu-custom{
    margin-bottom: 30px;
  }
  p.vtp-ud-info-02{
    margin-bottom: 2px;;
  }
  a.vtp-more{
    margin-top: 0;
  }
  .vtp-download-custom-align{
    text-align: center;
  }
  .vtp-download-custom-margin{
    margin-bottom: 20px;
  }

}
/* min-width 1024px*/

@media (min-width: 1025px){
  .img-slide-01{
    position: relative;
  }
  .slide-btn-01, .slide-btn-02 {
    display: block;
  }
  .slide-btn-01{
    position: absolute;
    background-color: #30667c;
    width: 13%;
    left: 19%;
    top: 52%;
    padding: 10px 10px;
    text-align: center;
    border: 2px solid #30667c;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
  .slide-btn-01:hover{
    text-decoration: none;
    background-color: white;
    border: 2px solid #30667c;
    color: #30667c;
  }
  .slide-btn-02{
    position: absolute;
    background-color: white;
    width: 13%;
    left: 33%;
    top: 52%;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid grey;

    color: #30667c;
    text-decoration: none;
  }
  .slide-btn-02:hover{
    text-decoration: none;
    background-color: grey;
    border: 2px solid grey;
    color: white;
  }
  .udvtp-border{
    box-shadow: 5px 0px 10px #397993;
    background-color: rgba(33, 79, 97, 0.9);
    padding: 30px 0px 20px 10px;
  }
  .udvtp{
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .ud-menu-custom{
    background: url("../images/border-right.png") no-repeat right center;
  }
  .dot-line{
    position: relative;
  }
  .dot-img{
    display: block;
    background: url("../images/dot_ico.png");
    text-align: center;
    margin: auto;
    width: 23px;
    height: 23px;
    margin-bottom: 20px;

  }
  .line-background{
    background-color: #f38819;
    height: 5px;
    width: 62%;
    position: absolute;
    margin-top: 0.8%;
    margin-left: 19%;
  }
  .vtp-dadang-desktop{
    margin: auto;
    display: block;
    width: 355px;
    height: 469px;
    position: relative;
  }
  .vtp-dadang-desktop-img{
    display: block;
    position: absolute;
    z-index: 6;
  }
  .vtp-dadang-info-01{
    border-radius: 50px;
    position: absolute;
    left: -105%;
    top: 17%;
    min-width: 390px;
  }
  .vtp-dadang-info-02{
    border-radius: 50px;
    position: absolute;
    left: -130%;
    top: 39%;
    min-width: 480px;

  }
  .vtp-dadang-info-03{
    border-radius: 50px;
    position: absolute;
    left: -113%;
    top: 61%;
    min-width: 420px;

  }
  .vtp-dadang-info-04{
    border-radius: 50px;
    position: absolute;
    left: 95%;
    top: 17%;
    min-width: 390px;

  }
  .vtp-dadang-info-05{
    border-radius: 50px;
    position: absolute;
    left: 95%;
    top: 39%;
    min-width: 480px;
  }
  .vtp-dadang-info-06{
    border-radius: 50px;
    position: absolute;
    left: 95%;
    top: 61%;
    min-width: 420px;

  }
}
@media (min-width: 992px){
  .col-lg-auto{
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  .vtp-naptien{
    background: url("../images/bg_img02.jpg")
  }
  .vtp-naptien-custom{

    background-color: white;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    padding-bottom: 20px;
  }
  .vtp-naptien-custom-col{
    background: url("../images/border_right_02.png") no-repeat right center;
  }
  .col-lg-4{
    max-width: 320px;
  }

}
