*{
  margin: 0;
}
.main-page{
  width: 100%;
  background-color: #878787;
}
.full-page{
  background-color: #702671;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);

}
.navfixed{
  position: fixed;
  width: 100%;
}
.center-page{
  width: 1170px;
  margin: auto;
}
.navtopmenu{
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}
.navtopmenu img {
  width: 45px;
  height: auto;
  float: left;
}
.navtopmenu ul {
  float: right;
  list-style-type: none;
  margin-top: 5px;
  margin-right: 10px;
}
.navtopmenu ul li{
  display: inline-block;
}
.navtopmenu ul li a{
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #e3e3e3;
}
.a-active{
  background-color: white;
}
.a-active:hover{
  box-shadow: none;
}
.navtopmenu ul li a:hover{
  box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.75);
}



#about{
  background-color: #A9A9A9;
  overflow: hidden;
  padding-top: 180px;
  padding-left: 60px;
  padding-bottom: 60px;
}
.about-left{
  width: 70%;
  float: left;
  text-align: right;
  margin-top: 30px;
}
.about-line{
  float: right;
  background-color: white;
  height: 5px;
  width: 70%;
  display: block;
  margin-bottom: 25px;
}
.clearfix{
  clear: both;
}
.about-left p{
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
}
.about-right{
  width: 30%;
  float: left;
  text-align: center;
}
.about-right img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}


#portfolio{
  background-color: #EDEDEE;
  color: #878787;
  text-transform: uppercase;
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 50px;
}
.portfolio-line{
  background-color: #878787;
  width: 40%;
  margin: auto;
  height: 5px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio-img-left{
  width: 50%;
  float: left;
  text-align: right;
}
.portfolio-img-right{
  width: 50%;
  float: left;
  text-align: left;
}
.portfolio-img-left img{
  width: 80%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}
.portfolio-img-right img{
  width: 80%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 20px;
}

#contact{
  text-align: center;
  padding: 30px 10px;
  background-color: #EDEDEE;
  color: #878787;
  border-top: 1px solid #878787;;
}
#contact h2{
  text-transform: uppercase;
}
.contact-line{
  display: block;
  height: 5px;
  width: 60%;
  background-color: #878787;
  margin: 30px auto;
}
.contact-content{
  overflow: hidden;
}
.ct-content-left{
  float: left;
  width: 50%;
  text-align: left;
}
.ct-content-right{
  float: left;
  width: 50%;
  text-align: left;
}
.ct-content-left input{
  width: 70%;
  background-color: #EDEDEE;
  border: none;
  outline: none;
  border-bottom: 1px solid #878787;
  padding: 10px 0;
  margin: 10px 30px;
  font-size: 30px;
}
.ct-content-left textarea{
  width: 70%;
  height: 200px;
  overflow: auto;
  font-size: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #878787;
  background-color: #ededee;
  margin: 10px 30px;
}
.ct-content-left button{
  margin: 10px 30px;
  font-size: 25px;
  color: #878787;
}
.ct-content-right p{
  font-size: 24px;
  margin: 20px 10px;
}
#moreinfo{
  background-color: #A9A9A9;
  overflow: hidden;
  padding: 30px 0;
  font-size: 24px;
}
.more-left{
  width: 50%;
  float: left;
  text-align: center;
  color: white;
}
.more-left a{
  text-decoration: none;
}
.more-right{
  width: 50%;
  float: left;
  text-align: center;
  color: white;
}
.more-left h3{
  text-transform: uppercase;
  margin-bottom: 20px;
}
.more-right h3{
  text-transform: uppercase;
  margin-bottom: 20px;
}
.more-right span{
  font-size: 30px;
}
.social-icon{
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 5px 5px;
}
.social-icon:hover{
  background-color: white;
  color:#702671;
}
#footer{
  background-color: #702671;
  padding: 20px 0;
  text-align: center;
  color: white;
  font-size: 20px;
}
