*{
  margin: 0;
}
.main-page{
  width: 100%;
  background-color: #878787;
}
.full-page{
  background-color: #702671;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75);

}
.center-page{
  width: 1170px;
  margin: auto;
}
.navtopmenu{
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}
.navtopmenu img {
  width: 45px;
  height: auto;
  float: left;
}
.navtopmenu ul {
  float: right;
  list-style-type: none;
  margin-top: 5px;
}
.navtopmenu ul li{
  display: inline-block;
}
.navtopmenu ul li a{
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #e3e3e3;
}
.navtopmenu ul li a:hover{
  background-color: white;
  color: grey;
}



#about{
  background-color: #A9A9A9;
  overflow: hidden;
  padding-top: 100px;
  padding-left: 60px;
  padding-bottom: 60px;
}
.about-left{
  width: 70%;
  float: left;
  text-align: right;
  margin-top: 30px;
}
.about-line{
  float: right;
  background-color: white;
  height: 5px;
  width: 70%;
  display: block;
  margin-bottom: 25px;
}
.clearfix{
  clear: both;
}
.about-left p{
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
}
.about-right{
  width: 30%;
  float: left;
  text-align: center;
}
.about-right img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}


#portfolio{
  background-color: white;
  color: #878787;
  text-transform: uppercase;
  padding-top: 100px;
}
.portfolio-img-left{
  width: 50%;
  float: left;
}
.portfolio-img-right{
  width: 50%;
  float: left;
}
.portfolio-img-left img{
  width: 100%;
  height: auto;
}
.portfolio-img-right img{
  width: 100%;
  height: auto;
}
