* {box-sizing:border-box}
.accordion{
  background-color:#e6e6e6;
  width: 100%;
  outline: none;
  border: none;
  padding: 20px 10px;
  text-align: left;
}
.accordion:hover{
  background-color: #d9d9d9;
}
.panel{
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.active{
  background-color: #d9d9d9;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}


/*Tabs*/
.main-tab{
  overflow: hidden;
  background-color: #e6e6e6;
  margin: 0 10px;
  border: 2px solid #d9d9d9;
}
.main-tab button{
  float: left;
  outline: none;
  background-color: #e6e6e6;
  border: none;
  padding: 20px 20px;
}
.tabtitle:hover{
  background-color: #d9d9d9;
}
.tab-active{
  background-color: #d9d9d9;
}
.tabcontent{
  padding: 20px 10px;
  border: 2px solid #d9d9d9;
  border-top: none;
  margin: 0 10px;
  display: none;
}




/* Top nav */
.top-nav-01{
  list-style-type: none;
  padding: 0;
  background-color: grey;
}
.top-nav-01 li{
  display: inline-block;
  margin-left: -5px;
}
.top-nav-01 li a{
  text-decoration: none;
  color: white;
  padding: 20px 20px;
  display: block;
}
.top-nav-01 li a:hover{
  background-color: white;
  color: grey;
}



/*Top nav responsive*/
.top-nav-02{
  list-style-type: none;
  padding: 0;
  background-color: grey;
}
.top-nav-02 li{
  display:inline-block;
  margin-left: -5px;
}
.top-nav-02 li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px 20px;
}
.top-nav-02 li a:hover{
  color: grey;
  background-color: white;
}
.top-nav-02 li.button{
  display: none;
}




/*side nav*/
.side-nav-left{
  transition: 0.5s;
  width: 0;
  overflow: hidden;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.side-nav-01{
  list-style-type: none;
  padding: 0;
  position: relative;

}
.side-nav-01 li a{
  display: block;
  padding: 20px 20px;
  background-color: #d9d9d9;
  color: white;
  text-decoration: none;

}
.side-nav-01 li a:hover{
  text-decoration: none;
  background-color: #e3e3e3;
  color: #000;
}
.side-nav-01 .sidebutton{
  position: absolute;
  right: 0;
  top: 0;
}
.side-open-button{
  cursor: pointer;
}
/*full side nav */
.full-side-nav{
  position: fixed;
  width: 0;
  height:100%;
  text-align: center;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.9);
  padding-top: 20%;
  transition: 0.5s;
  overflow: hidden;
}
.full-side-nav-01{
  list-style-type: none;
  padding: 0;
}
.full-side-nav-01 li a{
  text-decoration: none;
  color: #e3e3e3;
  font-size: 30px;
  background-color: red;
  width: 300px;
  display: block;
  margin: auto;
}
.full-side-nav-01 li a:hover{
  text-decoration: none;
  color: grey;
}
.full-side-nav-01 li.full-side-button{
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 600px) {
  .top-nav-02 li:not(:first-child){
    display: none;
  }
  .top-nav-02 li.button{
    display: block;
    float: right;
  }
  .top-nav-02.top-responsive {
    position: relative;
  }
  .top-nav-02.top-responsive li.button{
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav-02.top-responsive li{
    display: block;
  }
}
