.row{
  margin-left: 0;
  margin-right: 0;
}
.header-menu{
  background-color: #B01B34;

}
.header-menu ul{
  list-style-type: none;
  padding: 0;
}
.header-menu ul li{
  display: inline-block;

}
.header-menu ul li a{
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
}
.header-menu ul li a:hover{
  background-color: #99182D;
}

.menu-bar ul{
  padding: 0;
  list-style-type: none;
}
.menu-bar p{
  background-color: #384646;
  color:white;
  padding: 5px 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 5px;
}
.menu-bar p:hover{
  background-color: #99182D;

}
.menu-bar ul li {
  margin: 5px 0;
}
.menu-bar ul li a{
  display: block;
  background-color: #384646;
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  font-size: 14px;
}
.menu-bar ul li a:hover{
  background-color: #99182D;
}
.menu-bar-ul-01,.menu-bar-ul-02{
  display: none;
}

.live-score{
  background-color: #B01B34;
  padding: 5px 5px;
  color: white;
}
.match-info table{
  width: 100%;
}
.match-info table thead{

  color: white;

}
.match-info table thead tr{

}
.match-info table thead tr th{

  padding: 5px 5px;
}
.ico-thead-full{
  background-color: #AC1A2F;
  padding: 10px 0;
}
.ico-thead-full:hover{
  background-color: #530D17;
}
.match-info table thead tr th a{
  text-decoration: none;
  color: white;
  background-color: #B01B34;
}
.match-info table thead tr th i{
  background-color: #B01B34;
  padding: 2px 2px;
  margin-left: 2px;
  cursor: pointer;
}
.match-info table thead tr th i:hover{
  background-color: #99182D;
}
.match-info table tbody tr{
  border-top: 1px solid #e7e7e7;
}
.match-info table tbody tr td{
  padding: 10px 0;
  font-size: 14px;
}
.match-info table tbody tr td.highlight{
  color: #99182D;
}
.match-info table tbody tr td i{
  cursor: pointer;
  background-color: #B01B34;
  padding: 2px 2px;
  color: white;
}
.match-info table tbody tr td i:hover{
  background-color: #99182D;
}

.bxh{

}
.bxh p{
  background-color: #99182D;
  text-align: center;
  padding: 5px 0;
}
.bxh-table-head{
  background-color: #530D17;
  color: white;
  padding: 10px 0;
}
.main-tr{
  background-color: #364444;
  margin-top: 0;
}
.sub-tr{
  color: black;
}
.btn-hide{
  background-color: #530D17;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  color: white;
}
thead{
  display: table-header-group;
}
.lineup-title-name{
  background-color: #364444;
  color: white;
  display: block;
  padding: 10px 5px;
}
.mb-main-tab{
  width: 20%;
  background-color: #AC1A2F;
  color: white;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;

}
.mb-main-tab:hover{
  background-color: #530D17;
}
.main-tk{
  color: white;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 5px 0;
}
.tk-left{
  float: left;
  width: 70%;
  display: block;
  background-color: #0072B1;
  padding: 10px 0;
  text-align: left;
  padding-left: 10px;
}
.tk-right{
  float: right;
  display: block;
  width: 30%;
  background-color: #AC1A2F;
  padding: 10px 0;
  text-align: right;
  padding-right: 10px;
}
.tk-title{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  padding: 10px 0;
}
.tt-w,.tt-d,.tt-l{
  text-align: center;
  padding: 2px 0;
  min-width: 25px;
  display: inline-block;
  color: white;
}
.tt-w{
  background-color: #28A428;
}
.tt-d{
  background-color: #FFA500;

}
.tt-l{
  background-color: #DE3232;
}
.tt-w::after{
  content: "W";
}
.tt-d::after{
  content: "D";
}
.tt-l::after{
  content: "L";
}
.main-tt{
  margin: 10px 0;
}
.sport-icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 5px;
}
.sport-icon-title{
  display: inline-block;
  width: 14px;
  height: 14px;
}
.sport-icon-title svg{
  fill: #fff;
}
.main-ct{
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
}
.svg-icon-custom{
  background-color: #AC1A2F;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.svg-icon-custom:hover{
  background-color: #530D17;
}
@media (min-width: 1200px) {
  .main-container {
    width: 1170px !important;
    margin: auto;
  }
}
@media (max-width:767.98px ) {
  .header-menu{
    display: none;
  }
  .menu-bar{
    display: none;

  }
  .main-content{
    width: 100% !important;
    padding-left: 0 !important;
  }
  .main-container{
    padding: 0 !important;
  }
  *{
    font-size: 10px !important;
  }
  .sport-icon{
    padding-top: 0;
  }

}
@media (max-width:1199.98px) {
  .main-container{
    padding: 0 5px;
  }
  .menu-bar{
    width: 20%;
  }
  .main-content{
    width: 80%;
  }
  .dark-red-mb{
    background-color: #530D17 !important;
  }
  .red-mb{
    background-color: #AC1A2F !important;
    color: white;
  }
  .match-info-thead{
    cursor: pointer;
  }
  .main-title-name{
    cursor: pointer;
  }
}
/* jquery class */
.dark-red{
  background-color: #530D17 !important;
}
.red{
  background-color: #AC1A2F !important;
  color: white;
}

.icon-full-tbody{
  border-top: none !important;
}
.icon-main{
  padding: 0 !important;
}
.icon-mb-01{
  padding: 0 !important;
  color: white;
}

.main-title-name:hover{
  background-color: #e7e7e7;
}
